.users__field {
  .fields_input {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #5b5b5b;
  }
  .rounded-box,
  .btn {
    border-radius: 16px;
  }
  .right__eye {
    position: relative;
    .eye__right {
      position: absolute;
      right: 10px;
      top: 50px;
      cursor: pointer;
    }
  }
  button {
    background-color: #3c9c41;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }
  .account__location {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #5b5b5b;
  }
  .form-control:focus {
    border: 2px solid blue;
    outline: none !important;
    box-shadow: none !important;
  }
}
