.gender__identify {
  cursor: pointer;
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #5b5b5b;
    text-transform: capitalize;
  }
  .gender__box {
    border-radius: 1rem;
    label {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      color: #5b5b5b;
    }
  }
}
