.form__app {
  padding: 2rem 0;
}
.logo__header .logo__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .signup__text {
    text-transform: capitalize;
    color: #5b5b5b;
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
  }
}
